<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="com.listener.ListenerClass"></listener>
	<listener class-name="com.listener.AnnotationTransformer"></listener>
	</listeners>
  <test thread-count="2" name="Test" parallel="methods">
    <classes>
    	<class name="com.testcases.BaseTest"/>
      <class name="com.testcases.FacilityViewTests"/>
      <class name="com.testcases.HomePageTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
