<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="com.listener.ListenerClass"></listener>
	<listener class-name="com.listener.AnnotationTransformer"></listener>
	</listeners>
  <test thread-count="1" parallel="tests" name="AQCC Parallel Test">
    <classes>
      <class name="com.testcases.HomePageTests"/>
      <class name="com.testcases.FacilityViewTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
